.body {
  display: flex;
  background-color: #26292b;
  flex-direction: column;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px 64px 24px;
  max-width: 1024px;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: fit-content;
  width: 100%;
  padding: 20px;
  background-color: #181b1c;
  border-radius: 0px 0px 30px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
}
@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
  }
}
.nav-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  height: 100%;
  gap: 24px;
}
.nav-img {
  height: 64px;
}
@media screen and (max-width: 600px) {
  .nav-img {
    height: 48px;
  }
}
.nav-heading {
  font-size: 24px;
  color: white;
  font-weight: lighter;
}
@media screen and (max-width: 600px) {
  .nav-heading {
    font-size: 18px;
  }
}

.sections {
  display: flex;
  gap: 64px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section {
  display: flex;
  gap: 64px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calculations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .calculations {
    flex-direction: column;
    width: 100%;
  }
}

.info-calc {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  height: 100%;
}
@media screen and (max-width: 1024px) {
  .info-calc {
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
  }
}
.h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .h2 {
    font-size: 18px;
  }
}
.card-calc {
  display: flex;
  flex-direction: column;

  background-color: #181a1c;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .card-calc {
    width: 100%;
    justify-content: space-between;
  }
}

.card-calc-units {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);
  padding: 20px;
}
@media screen and (max-width: 300px) {
  .card-calc-units {
    flex-direction: column;
  }
}
.card-calc-units__last {
  border: none;
}

.card-calc-lable {
  color: white;
  height: fit-content;
}

@media screen and (max-width: 600px) {
  .card-calc-lable {
    font-size: 12px;
  }
}
.card-calc-meas {
  color: white;
  height: 24px;
}
.card-calc-input {
  background-color: #232a31;
  max-width: 80px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 6px;
  color: white;
  font-size: 18px;
  padding: 0px 0px 1px 8px;
}
.example {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.card-example {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #181a1c;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 10px;
  height: fit-content;
  width: 100%;
  align-items: center;
}
.example-img {
  width: 500px;
}
@media screen and (max-width: 600px) {
  .example-img {
    width: 100%;
  }
}
.nav-language-button {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.nav-language-button-title {
  font-size: 12px;
  color: white;
}
.calc-button {
  display: flex;
  color: white;
  background-color: #245280;
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 10px;
  width: 100%;
  height: 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .calc-button {
    font-size: 12px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 20px;
  background-color: #181a1c;
  border-top: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 10px 10px 0px 0px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 300px) {
  .footer-links {
    flex-direction: column;
  }
}
.footer-link {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 10px;
}
.footer-link-title {
  color: #408fdf;
  font-size: 12px;
  font-weight: bold;
}
.footer-link-img {
  width: 32px;
}
